{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'image_bank/style.css' %}" />

<form method="get">
    <label>Name search: </label>
    <input type="text" name="name_search" value="{{ name_search }}">
    <input type="submit" value="Go!">
    <a href="/image_bank">
        <input type="button" value="Clear">
    </a>
</form>

<form method="get">
    <label>Metadata search: </label>
    <input type="text" name="metadata_search" value="{{ metadata_search }}">
    <input type="submit" value="Go!">
    <a href="/image_bank">
        <input type="button" value="Clear">
    </a>
</form>

{% if images %}
    <ul>
    {% for im in images %}
        <li><a href={{ im.1 }}>{{ im.0 }}</a>
        {% if im.2 %}
            ({{ im.2 }})
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% if name_search or metadata_search %}
        <p>No images matched the search.</p>
    {% else %}
        <p>The databse currently has no images.</p>
    {% endif %}
{% endif %}
