{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'image_bank/style.css' %}" />

<img src="/{{ full_path }}">
<br>

<form method="post">
{% csrf_token %}
<label>Metadata:</label>
<input type="text" name='metadata' value="{{ metadata }}" />
<input type="submit" value="Update" />
</form>

<form action="/image_bank/" method="post" id="idOfForm">
{% csrf_token %}
<input type="hidden" name='delete' value='true' />
<input type="hidden" name='short_path' value='{{ short_path }}' />
<input type="submit" value="X" id='redBox' />
</form>
